@import '../../styles/styles';
@import '../../styles/variables';

.journey-descrip {
  display: flex;
  max-width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: .9em;
  margin-top: 75px;
}

.volunteer {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: rgb(28, 28, 28);
}

.intro {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  font-size: .75em;
}

.fas {
  cursor: pointer;
  float: right;
  bottom: 0;
  font-size: 1.5em;
}

.announcements {
  white-space: pre-line;
}

.form-control {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

button {
  @include button-style($bitter-lemon)
}

.new-a {
  margin-top: 30px;
}

.tagline {
  margin-top: none;
  @include header-font(30px, 400)
}

.announcement-header {
  padding-top: 50px;
  @include header-font(40px, 400);
  margin-bottom: 50px;
}

.vol-link:hover {
  color: $umber !important;
}

.img-calendar, .img-resources {
  max-width: 75%;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.row {
  display: flex;
  margin: 40px;
}

.column {
  flex: 50%;
  padding: 5px;
  text-align: center;
}

.img-calendar:hover, .img-resources:hover {
  background-color: black;
  opacity: .75;
  transition: .4s ease;
}
