@import '../../styles/styles';
@import '../../styles/variables';

.journey-descrip {
  display: flex;
  max-width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: .9em;
  margin-top: 75px;
}

.volunteer {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: rgb(28, 28, 28);
}

.intro {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  font-size: .8em !important;
}

.fas {
  cursor: pointer;
  float: right;
  bottom: 0;
  font-size: 1.5em;
}

.announcements {
  white-space: pre-line;
}

.form-control {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

button {
  @include button-style($bitter-lemon)
}

.new-a {
  margin-bottom: 30px;
}

.tagline {
  margin-top: none;
  @include header-font(23px, 400)
}

.announcement-header, h2 {
  padding-top: 50px;
  @include header-font(40px, 400);
  margin-bottom: 30px;
}

.img-calendar, .img-resources {
  max-width: 75%;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .25);
  padding: 10px;
}

.card-row {
  display: flex;
  margin: 40px;
}

.card-container {
  padding: 5px;
  text-align: center;
}

.img-calendar:hover, .img-resources:hover {
  background-color: black;
  opacity: .75;
  transition: .4s ease;
}

.new-announcement {
  margin-left: 50px;
  margin-bottom: 30px;
}

.empty-footer {
  height: 100px;
}

.home-banner {
  width: 65%;
}

.new-a-submit {
  // margin: 30px;
  margin-left: 50px;
}
