@import '../../styles/styles';
@import '../../styles/variables';

.calendar-info {
  display: flex;
  white-space: pre-wrap;
}

.fa-edit {
  margin-left: 10px;
  margin-top: 3px;
  cursor: pointer;
}

.scripts-button {
  text-align: center;
  margin: 20px;
}

.google-cal, .hours {
  color: $spanish-gray;

}

a:hover{
  color: black;
}

p {
  @include body-font(15px, 400)
}

.iframe {
  text-align: center;
}

.cal-page, .edit-cal-form {
  margin: 50px;
  margin-top: 0;
}

.save-cal-edit {
  margin: 30px;
  margin-left: 0;
}
