@import '../../styles/styles';

// .users:nth-of-type(odd) {
//   background-color: #351414;
// }

table, th, td, tr {
  // border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}

.body tr:nth-child(even) { 
  background-color: gray
} 


th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $bitter-lemon
}

#all-users {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.subjects {
  font-size: .9em;
  width: 33%;
}
