.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.navbar__item {
  list-style-type: none;
}

.navbar__logo {
  width: 25%;
  height: 25%;
}

.navbar__link:hover {
  color: #9A9B9Dff;
}
