.register-form-control, .login-form-control {
  text-align: center;
  width: 40%;
  height: 3em;
  margin: 20px;
}

.login-field-container {
  text-align: center;
}

.register-link {
  text-align: center;
  margin: 20px;
}

.register-link a:hover {
  text-decoration: underline;
}
